.tab-pane {
    height: 800px;
    padding: 10px;
    overflow: auto;
}

#submit {
    margin-bottom: 10px;
}

.structify-output-image {
    display: block;
    margin: auto;
}

.structify-output-audio {
    display: block;
    margin: auto;
}

.structify-output-image-resize {
    display: block;
    margin: auto;
    max-height: 300px;
}

.figure-label {
    font-weight: bold;
    text-align: center;
}

.figure-text {
    text-align: center;
}
