<!DOCTYPE HTML>
<html>
    <head>
        <title>Structify</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Structify</h1>
                <p>Automatic segmentation of pop songs</p>
            </div>

            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#abstract" role="tab" data-toggle="tab">Abstract</a></li>
                <li role="presentation"><a href="#music" role="tab" data-toggle="tab">Music Representation</a></li>
                <li role="presentation"><a href="#methods" role="tab" data-toggle="tab">Methods</a></li>
                <li role="presentation"><a href="#results" role="tab" data-toggle="tab">Results</a></li>
                <li role="presentation"><a href="#discussion" role="tab" data-toggle="tab">Discussion</a></li>
                <li role="presentation"><a href="#conclusion" role="tab" data-toggle="tab">Conclusion</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="abstract">

                    <img class="structify-output-image-resize" src="{{ url_for('static', filename='call-me-maybe-timbregram.png') }}">
                    <p class="figure-label">Figure 1</p>
                    <p class="figure-text"></p>

                    <img class="structify-output-image-resize" src="{{ url_for('static', filename='call-me-maybe-sim-matrix.png') }}">
                    <p class="figure-label">Figure 2</p>
                    <p class="figure-text"></p>
                </div>

                <div role="tabpanel" class="tab-pane" id="music">
                    <p>Ipsum</p>
                </div>

                <div role="tabpanel" class="tab-pane" id="methods">

                </div>

                <div role="tabpanel" class="tab-pane" id="results">

                </div>

                <div role="tabpanel" class="tab-pane" id="discussion">

                </div>

                <div role="tabpanel" class="tab-pane" id="conclusion">

                </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Demo: Titanium</h3>
              </div>
              <div class="panel-body">
                  <img class="structify-output-image" src="{{ url_for('static', filename='segmented_signal_titanium.png') }}">
                  <audio class="structify-output-audio" controls>
                      <source src="{{ url_for('static', filename='titanium_segmented.wav') }}" type="audio/wav">
                  </audio>
              </div>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Demo: Firework</h3>
                </div>
                <div class="panel-body">
                    <img class="structify-output-image" src="{{ url_for('static', filename='segmented_signal_firework.png') }}">
                    <audio class="structify-output-audio" controls>
                        <source src="{{ url_for('static', filename='firework_segmented.wav') }}" type="audio/wav">
                    </audio>
                </div>
            </div>

            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Demo: Bohemian Rhapsody</h3>
              </div>
              <div class="panel-body">
                <img class="structify-output-image" src="{{ url_for('static', filename='segmented_signal_bohemian_rhapsody.png') }}">
                <audio class="structify-output-audio" controls>
                    <source src="{{ url_for('static', filename='bohemian_rhapsody_segmented.wav') }}" type="audio/wav">
                </audio>
              </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Structify - Try it out!</h3>
                </div>

                <div class="panel-body">
                    <p>Give structify a shot by uploading a song of your choice. File must be .wav.</p>

                    <form id="file-upload" enctype="multipart/form-data">
                        <input type="file" name="audio">
                        <br>
                        <button id="submit" type="submit" class="btn btn-primary">Structify!</button>
                    </form>

                    <div id="structify-output"></div>
                </div>
            </div>
        </div>

        <script
          src="https://code.jquery.com/jquery-3.2.0.min.js"
          integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
          crossorigin="anonymous">
        </script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
